<a href="https://colab.research.google.com/github/dushyantmaharshi/AirBnb-Data-Analysis/blob/main/Airbnb_Bookings_Analysis_Capstone_Project_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

# **Airbnb EDA Project**

**Airbnb is an online marketplace connecting travelers with local hosts. On one side, the platform enables people to list their available space and earn extra income in the form of rent. On the other, Airbnb enables travelers to book unique homestays from local hosts, saving them money and giving them a chance to interact with locals. Catering to the on-demand travel industry, Airbnb is present in over 190 countries across the world.**

## **Importing Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import matplotlib.patches as mpatches
import seaborn as sns
import warnings
from wordcloud import WordCloud
warnings.filterwarnings('ignore')

## **Mounting the Drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## <b> Loading the Dataset

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EDA/Airbnb NYC 2019.csv')

In [4]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

## <b>  Print the Info

To get the data types and non_null values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

## <b> Droping the uneccessary columns

In [6]:
df.drop(['host_name'], axis=1, inplace=True)

## <b>Checking the duplicate value and remowing it if any

In [7]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

##<b> Check for the null values in each column

In [8]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

**as 'last_review', 'reviews_per_month' columns having more than 20% of the data missing we will drop these columns**

In [9]:
df.drop(['last_review','reviews_per_month'], axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48895 entries, 0 to 48894
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  number_of_reviews               48895 non-null  int64
 11  calculated_host_listings_count  48895 non-null  int64
 12  availability_365                48895 non-null  int64
dtypes: float64(2), int64(7), object(4)
memory usage: 5.2+ MB

In [11]:
# We are setting index as id column
df= df.set_index('id')

## <b> Examing the changes in dataset

In [12]:
df.head()

                                                  name  ...  availability_365
id                                                      ...
2539                Clean & quiet apt home by the park  ...               365
2595                             Skylit Midtown Castle  ...               355
3647               THE VILLAGE OF HARLEM....NEW YORK !  ...               365
3831                   Cozy Entire Floor of Brownstone  ...               194
5022  Entire Apt: Spacious Studio/Loft by central park  ...                 0

[5 rows x 12 columns]

In [13]:
df.shape

(48895, 12)

In [14]:
## It is an id column so it can not be of numerical type
df['host_id'] = df['host_id'].astype(str)